- hosts: all
  become: yes

  tasks:
  - name: Ensure /root/test.txt exists
    ansible.builtin.copy:
      dest: /root/test.txt
      content: |
        I am a testing file
        That semaphore should be keeping updated
        {{ ansible_date_time.iso8601 }}
